*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', monospace;
    list-style: none;
    text-decoration: none;
}
header{                                         /*HEADER*/
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 9%;
    background: rgba(0, 0, 0, 0.24);
    color: #fff
}
body{                                           /*BODY*/
    background: rgb(28, 26, 36);
    text-shadow: -1.5px 2px 5px rgba(0, 0, 0, 0.952);
}
.logo{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
.navlist{                                       /*NAVIGATION BAR*/
    display: flex;
}
.navlist a{
    color: #fff;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid #fff;
}
/*.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 1px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}*/
#menu-icon{
    color: #fff;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.homesplash{                                    /*SPLASH*/
    height:100%;
    width: 100%;
    min-height: 100vh;
	animation: gradient 15s ease infinite;
	height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}
@keyframes gradient {                           /*GRADIENT ANIMATION*/
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
section .homesplash{                            /*WELCOME BOX*/
    padding: 0 19%;
}
.homesplash{
    color: #fff;
}
.homesplash-text h1{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: -20px;
}
.homesplash-text h2{
    font-size: 90px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: -4px;
}
.homesplash-text p{
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 40px;
}
.homesplash-text a{
    display: inline-block;
    color: #fff;
    background: rgba(0, 0, 0, 0.164);
    border: 1px #fff;
    padding: 12px 30px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
    margin-right: 20px;
    border: 2px solid #fff;
}
.homesplash-text a:hover{
    background: rgba(119, 119, 119, 0.295);
    transform: translateY(-4px);
}
.homesplash-img img{
    width: 450px;
    height: auto;
}
.homebio{                                       /*HOME SECOND SECTION*/
    height:100%;
    width: 100%;
    color: #fff;
    min-height: 100vh;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    position: relative;
    display: grid;
    align-items: center;
    gap: 2rem;
    z-index: 5;
    grid-template-columns: repeat(2, 1fr);
}
section{                                        /*BIO*/
    padding: 0 19%;
}
.homebio-text h1{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: -2px;
    text-align: center;
}
.homebio-text h2{
    font-size: 15px;
    line-height: 1.9;
    text-align: center;
    font-weight: 500;
}
.icons{                                         /* ICONS CSS SECTION*/
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 25px 0;
    font-size: 30px;
    color: #fff;
    transition: all .50s ease;
}
.icons i:hover{
    color: rgb(255, 254, 254);
    transform: translateY(-5px);
    border-radius: 10px 10px 10px 10px;
}
.icons-plus i:hover{
    color: rgb(255, 254, 254);
    transform: translateY(-5px);
    background: rgb(0, 0, 0, 0.164);
    border-radius: 30px 30px 30px 30px;
}
a[data-tooltip][data-position="right"]:before { /*TOOLTIPS*/
	top: -5%;
	left: 100%;
	margin-left: 10px;
}
a[data-tooltip][data-position="right"]:after {
	border-right-color: #000;
	border-left: none;
	top: calc(50% - 6px);
	left: calc(100% + 4px);
}
.scroll-down{                                   /*SCROLL BUTTONS*/
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.336);
    border-radius: 30px;
    transition: all .30s ease;
}
.scroll-down i:hover{
    transform: translateY(5px);
}
.scroll-up{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-up i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.336);
    border-radius: 30px;
    transition: all .30s ease;
}
.scroll-up i:hover{
    transform: translateY(-5px);
}